<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
</head>
<body>

    <header class=" container-fluid header-nav-main">
        <nav class="menu-nav">

            <ul class="menu">
                {% if request.user.is_superuser %}
                    {% include 'menu_admin.html' %}


                {% elif request.user.is_student %}
                    {% include 'menu_estudiante.html' %}


                {% elif request.user.is_coordinator %}
                    {% include 'menu_cordinador.html' %}
                {% endif %}

                <li class="menu-item"> <a class="link_menu" href="/logout">Salir</a></li>


            </ul>

        </nav>

    </header>

    <div class="row">
        <div class="col-md-12">
            {% include 'partials/messages.html' %}
        </div>
    </div>
    <div class="container container-main" >
        <div class="row">
            <h4>Bienvenido {{ request.user }}
                <small>{% if request.user.is_student  %}Estudiante{% endif %}</small>
                <small>{% if request.user.is_coordinator  %}Estudiante{% endif %}</small>
                <small>{% if request.user.is_superuser  %}Administrador{% endif %}</small>
            </h4>
        </div>

        <div class="col-12">
            <h4 >{% block title_secction %}{% endblock %}</h4>
            <hr>
            <div class="row mt-4" >

                {% block content %}{% endblock %}
            </div>



      </div>


  </div>



    <!--  javascript --->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'js/local_es.min.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %} "></script>
    {% block js %}{% endblock js %}
    <script>

            $('.datepicker').datepicker({language: 'es'});
            $('.timepicker').timepicker({
                timeFormat: 'HH:mm:ss',
                interval: 60,
                minTime: '9',
                maxTime: '23:00pm',
                defaultTime: '24',
                startTime: '09:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
                });

    </script>
</body>
</html>