<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Sistema para gestión de practicas profesionales</title>
    {% load static %}
    <link rel="stylesheet" href="{%  static 'css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <div class="row">


        <div class="form-container col-md-5">

            {%  if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.errors }}
            </div>
        {% endif %}
            <form action="" method="post" class="form col-md-10">
                {% csrf_token %}
                <div class="form-group">
                     <img src="{% static 'img/bannerlogo.jpg' %}"  class="col-12" alt="">
                </div>
                <div class="form-group">


                    <label for="">Usuario:</label><br>
                    <input type="text" name="username" class="form-group col-12">
                </div>
                 <div class="form-group">
                    <label for="">Contraseña:</label> <br>
                    <input type="password" name="password" class="form-group col-12">
                </div>

                <div class="form-group">
                    <input type="submit"  class="btn btn-primary" value="Enviar">
                </div>
            </form>
        </div>


        
        
        
    </div>
</div>



<!--  javascript --->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>