{% load static %}
<li class="menu-item"><img src="{% static 'img/titulo-uqroo_es.png' %}" class="" alt=""></li>
<li class="menu-item"><a class="link_menu" href=" {%  url 'home' %}">Incio</a></li>
<li class="menu-item"><a class="link_menu" href=" {%  url 'students_list' %}">Alumnos</a></li>
<li class="menu-item"><a class="link_menu" href=" {%  url 'home' %}">Estancias</a></li>
<li class="menu-item"><a class="link_menu" href=" {%  url 'organizations_list' %}">Organizaciones</a></li>
<li class="menu-item"><a class="link_menu" href=" {%  url 'home' %}">Reportes</a></li>
<li class="menu-item"><a class="link_menu" href=" {%  url 'home' %}">Configuración</a></li>

