{% load static %}


    <li class="menu-item"><img src="{% static 'img/titulo-uqroo_es.png' %}" class="" alt=""></li>
    <li class="menu-item"><a class="link_menu" href=" {%  url 'home' %}">Incio</a></li>
    <li class="menu-item"><a class="link_menu" href=" {%  url 'home' %}">Carreras</a></li>
    <li class="menu-item"><a class="link_menu" href=" {%  url 'students_list' %}">Alumnos</a></li>
    <li class="menu-item"><a class="link_menu" href=" {%  url 'organizations_list' %}">Organizaciones</a></li>

    {% comment %}<li class="menu-item"><a class="link_menu" href=" {%  url 'stays_list' %}">Estancias</a></li>{% endcomment %}
    <li class="menu-item"><a class="link_menu" href=" ">Organizaciones</a></li>
    <li class="menu-item"><a class="link_menu" href="">Configuración</a></li>
    <li class="menu-item">Bienvenido  {{ request.user }}</li>

