{% load static %}
    <li class="menu-item"><img src="{% static 'img/titulo-uqroo_es.png' %}" class="" alt=""></li>
    <li class="menu-item"><a class="link_menu" href=" {%  url 'home' %}">Incio</a></li>
    <li class="menu-item"><a class="link_menu" href=" {%  url 'home' %}">Estancias</a></li>

