{% if is_paginated %}



    <nav aria-label=" Page navigation" class="col-md-12">
        <ul class="pagination justify-content-center flex-wrap">
          {% if page_obj.has_previous %}
               <li  class="page-item">
                   <a href="?page={{ page_obj.previous_page_number }}&search_text={{q}}" class="page-link">
                       &laquo;
                   </a>
               </li>

          {% else %}
        <li class=" page-item disabled">
          <a href="#"  class="page-link">
                    &laquo;
               </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active page-item"{% endif %}>
          <a href="?page={{ page }}&search_text={{ q }}"  class="page-link">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{ page_obj.next_page_number }}&search_text={{ q }}"  class="page-link">
             &raquo;
          </a>
        </li>

      {% else %}
        <li {% if not page_obj.has_next %}class=" page-item disabled"{% endif %}>
          <a href="#"  class="page-link">
             &raquo;
          </a>
        </li>
      {% endif %}
    </ul>
    </nav>


{% endif %}