{% extends 'base.html' %}
{% block title %} Listado de estancias {% endblock %}

{% block content %}
    
    <div class="col-md-10">
        <a href="{% url 'stays_new' %}" class="btn btn-success">Agregar Estancia</a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Alumno</th>
                <th scope="col">Area o proyecto</th>
                <th scope="col">Estatus</th>
                <th scope="col">Fechas</th>
                <th scope="col">Encargado</th>

                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for e in estancias %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.student }}</td>
                <td>{{ e.description }}</td>
                <td>{{ e.get_status_display }} {{ e.lastname_mother }}</td>
                <td>{{ e.date_start }} - {{ e.date_end }}</td>
                <td>{{ e.boss }}</td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'stays_update' e.pk %}">Editar</a>

                        {% if e.student.campus_id == request.user.profile.campus_id and e.student.career_id ==  request.user.profile.career_id  or request.user.is_superuser %}
                          <a class="dropdown-item " href="{% url 'students_delete'  e.pk %}">Eliminar</a>
                        {% endif %}


                        <a class="dropdown-item" href="#">Doc presentación</a>
                        <a class="dropdown-item" href="#">Doc Terminación</a>

                      </div>
                    </div>

                </td>
            </tr>
        {%endfor%}

      </tbody>
    </table>

    {% include 'pagination.html' %}


{% endblock %}