{% extends 'base.html' %}
{% block title %} Registro de estancia {% endblock %}

{% block content %}


    {% include 'form_errors.html' %}

    <form action="" method="post" class="form-group col-9">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>


{% endblock %}