{% extends 'base.html' %}
{% block title %} Registro de estancia {% endblock %}

{% block content %}


    {% include 'form_errors.html' %}

    <form action="" method="post" class="form-group col-9">
        {% csrf_token %}

        <fieldset>
            <legend>Datos de la estancia</legend>
            <input type="hidden" id="id_student" name="student" value="{{ student }}">
            <input type="hidden" id="id_coordinator" name="cordinator" value="{{ coordinator }}">
            <input type="hidden" id="id_status" name="status" value="P">
            <div class="form-group">
                {{ form.kind_stay.label_tag }}
                {{ form.kind_stay }}
            </div>

            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>


            <div class="form-group ">
                {{ form.date_start.label_tag }}
                {{ form.date_start }}
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form.shedule_start.label_tag }}
                    {{ form.shedule_start }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.shedule_end.label_tag }}
                    {{ form.shedule_end }}
                </div>



            </div>


            <div class="form-group col-md-12 ">
            {{ form.days.label_tag }}<br>
                {% for d in days %}
                    <div class="form-check form-check-inline col-md-3">
                        <input class="form-check-input" type="checkbox" id="day{{ d.pk }}" value="{{ d.pk }}">
                        <label class="form-check-label" for="day{{ d.pk }}">{{ d.day_name }}</label>
                    </div>
                {% endfor %}
            </div>

        </fieldset>
        <fieldset>
            <legend>Datos del encargado</legend>
            <div class="row">
                <div class="form-group col-md-3">
                    {{ form.title_boss.label_tag }}
                    {{ form.title_boss }}
                    {{ form.title_boss.help_text }}
                </div>
                <div class="form-group col-md-9">
                    {{ form.name_boss.label_tag }}
                    {{ form.name_boss }}
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-12">
                    {{ form.lastname_boss.label_tag }}
                    {{ form.lastname_boss }}
                </div>
            </div>
            <div class="form-group">
                {{ form.position_boss.label_tag }}
                {{ form.position_boss }}
            </div>

            <div class="form-group">
                {{ form.organization_boss.label_tag }}
                {{ form.organization_boss }}
            </div>

            <div class="form-group">
                {{ form.departament_boss.label_tag }}
                {{ form.departament_boss }}
            </div>

            <div class="form-group">
                {{ form.email_boss.label_tag }}
                {{ form.email_boss }}
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    {{ form.phone_boss.label_tag }}
                    {{ form.phone_boss }}
                </div>
                <div class="form-group col-md-5">
                    {{ form.ext_boss.label_tag }}
                    {{ form.ext_boss }}
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>


{% endblock %}