{% extends 'base.html' %}
{% block title %} Lista de organizaciones {% endblock %}
{% block title_secction%} Tipos de organiazación {% endblock %}

{% block content %}

    <div class="col-md-10">
        <a href="{% url 'organizations_new' %}" class="btn btn-success">Agregar</a>
        <a href="{% url 'type_organization_list' %}" class="btn btn-info">Tipos de Orgnización</a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Razón social</th>
                <th scope="col">Titular</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Tipo</th>
                <th scope="col">Dirección</th>


            </tr>
        </thead>
        <tbody>
        {% for o in organizations %}
            <tr>
                <td>{{ o.pk }}</td>
                <td>{{ o.business_name }}</td>
                <td>{{ o.owner }}</td>
                <td>{{ o.phone }}</td>
                <td>{{ o.type_organization }}</td>
                <td>{{ o.address }}</td>


                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="{% url 'organizations_detail' pk=o.pk %}">Detalles</a>
                          <a class="dropdown-item" href="{% url 'organizations_update' pk=o.pk %}">Editar</a>
                      </div>
                    </div>

                </td>
            </tr>
        {%endfor%}

      </tbody>
    </table>
    {% include 'pagination.html' %}

{% endblock %}