{% extends 'base.html' %}
{% block title %} {{ organization.name }} {% endblock %}
{% block title_secction%} {{ organization }} {% endblock %}

{% block content %}
    <div class="col-md-10 m-4">

        <b>Razón social:</b>  {{ organization.business_name }}<br>
        <b>Titular:</b>  {{ organization.owner }}<br>
        <b>Teléfono:</b>  {{ organization.phone }}<br>
        <b>Tipo de organización:</b>  {{ organization.type_organization }}<br>
        <b>Dirección:</b>  {{ organization.address }}<br>
    </div>

    {% if stays.count%}
    <div class="col-md-10 mt-5">
        <h5>Estancias</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Estudiante</th>
                    <th scope="col">Encargado</th>
                    <th scope="col">Àrea o Depto.</th>
                    <th scope="col">Tipo de estancia</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Acciones </th>

                </tr>
            </thead>
            <tbody>
            {% for s in  stays %}
                <tr>
                    <td>{{ s.pk }}</td>
                    <td>{{ s.student}} {{ b.lastname }}</td>
                    <td class="col">{{ s.title_boss }} {{ s.name_boss }} {{ s.lastname_boss }}</td>
                    <td>{{ s.departament_boss }}</td>

                    <td>{{ s.get_kind_stay_display}} </td>
                    <td>{{ s.get_status_display}} </td>




                    <td>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Acciones
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="">Editar</a>
                          </div>
                        </div>

                    </td>
                </tr>
            {%endfor%}

          </tbody>
        </table>


        </div>

    {% endif %}






{% endblock %}