{% extends 'base.html' %}
{% block title %}Registro de  Organización{% endblock %}
{% block title_secction %}Registro de  Organización{% endblock %}
{% block content %}

    <div class="section col-md-12">
    <form action="" method="post" class=" form-group ">
        {% csrf_token %}
       {{ form.as_p }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    </div>
{% endblock %}