{% extends 'base.html' %}
{% block title %}Registro de tipos Organización{% endblock %}
{% block title_secction %}Registro de tipos Organización{% endblock %}
{% block content %}

    <div class="section col-md-12">
    <form action="" method="post" class=" form-group ">
        {% csrf_token %}
       <div class="form-group col col-12">

            {{ form.as_p}}
       </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    </div>
{% endblock %}