{% extends 'base.html' %}
{% block title %} Tipos de organiazación {% endblock %}
{% block title_secction %} Tipos de organiazación {% endblock %}

{% block content %}

    <div class="col-md-10">
        <a href="{% url 'type_organization_new' %}" class="btn btn-success">Agregar</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Tipo</th>

            </tr>
        </thead>
        <tbody>
        {% for t in tipos %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.name }}</td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'type_organization_update' t.pk %}">Editar</a>
                      </div>
                    </div>

                </td>
            </tr>
        {%endfor%}

      </tbody>
    </table>
    {% include 'pagination.html' %}

{% endblock %}