{% extends 'base.html' %}
{% block title %} Periodos {% endblock %}

{% block content %}

    <div class="col-md-10">
        <a href="{% url 'periodos_new' %}" class="btn btn-success">Agregar periodo</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Clave</th>
                <th scope="col">Nombre</th>

                <th scope="col">Inicia</th>
                <th scope="col">Termina</th>

            </tr>
        </thead>
        <tbody>
        {% for p in periodos %}
            <tr>
                <td>{{ p.pk }}</td>
                <td>{{ p.key }}</td>

                <td>{{ p.name}}</td>
                <td>{{ p.date_start }}</td>
                <td>{{ p.date_end }}</td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{%  url 'periodos_update' pk=p.pk %}">Editar</a>
                        <a class="dropdown-item" href="{%  url 'periodos_delete' pk=p.pk %}">Eliminar</a>



                      </div>
                    </div>

                </td>
            </tr>
        {%endfor%}

      </tbody>
    </table>
    {% include 'pagination.html' %}

{% endblock %}