{% extends 'base.html' %}
{% block title %} Eliminar  periodo {% endblock %}

{% block content %}



    <form action="" method="post" class="form-group col-9">
        {% csrf_token %}
        <p>¿Está seguro de eliminar el perido {{ object.name }}?</p>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>



{% endblock %}