{% extends 'base.html' %}
{% block title %} Edicion alumno {% endblock %}

{% block content %}



    <div class="col-12">
    <h4>Edición del  alumno {{ object }}</h4>
        <form action="" method="post" class="form-group col-9">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>

    <hr>


{% endblock %}