{% extends 'base.html' %}
{% block title %} Alumnos {% endblock %}

{% block content %}
    
    <div class="col-md-10">
        <a href="{% url 'students_new' %}" class="btn btn-success">Agregar Alumno</a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>

                <th scope="col">Semestre</th>
                <th scope="col">Carrera</th>
                <th scope="col">Campus</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for a in alumnos %}
            <tr>
                <td>{{ a.pk }}</td>
                <td>{{ a.enrolment }}</td>

                <td>{{ a.user.get_full_name}}</td>
                <td>{{ a.semester }}</td>
                <td>{{ a.career }}</td>
                <td>{{ a.campus }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'students_update' a.pk %}">Editar</a>
                        <a class="dropdown-item" href="#">Ver estancias</a>
                        {% if a.campus_id == request.user.profile.campus_id and a.career_id ==  request.user.profile.career_id  or request.user.is_superuser %}
                          <a class="dropdown-item " href="{% url 'students_delete'  a.pk %}">Eliminar</a>
                        {% endif %}

                      </div>
                    </div>

                </td>
            </tr>
        {%endfor%}

      </tbody>
    </table>
    {% include 'pagination.html' %}

{% endblock %}