{% extends 'base.html' %}
{% block title %} Eliminar  a alumno {% endblock %}

{% block content %}


    {% if allowed %}
    <form action="" method="post" class="form-group col-9">
        {% csrf_token %}
        <p>¿Está seguro de eliminar este alumno? , si elimina este registro se perderán estos datos:</p>

        <ul>
            <li>Las estacias relacionadas con este alumno : {{ object.stays_set.count }}</li>
        </ul>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    {% else %}

        <h3>No tiene los permisos suficientes para eliminar este registro</h3>
    {% endif %}


{% endblock %}