body {
  background: url('../img/uqroo_login.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



.form-container {
    background-color: #fff;
    height:100vh;
    margin-left: 56.6vw;
    position: relative;

}  


